version: '3'
services:
  web:
    build: site
    container_name: apache-3IW
    ports :
     - "80:80"
    volumes:
     - ./www:/var/www/html/
     - ./server/000-default.conf:/etc/apache2/sites-available/000-default.conf
     - ./server/apache2.conf:/etc/apache2/apache2.conf
     - ./server/php.ini:/usr/local/etc/php/php.ini
    depends_on:
     - database

  database:
<<<<<<< HEAD
    image: mariadb:10.2
    container_name: mysql-mvc
=======
    image: mysql:5.7
    container_name: mysql-mvc
    ports :
      - "3306:3306"
>>>>>>> e094dc70c1877b964c63025a1b60c9b50e80d4e7
    environment:
      MYSQL_DATABASE: mvcdocker2
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: password
    volumes:
      - ./mvcdocker2.sql:/docker-entrypoint-initdb.d/mvcdocker2.sql
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-mvc
    depends_on:
      - database
    ports:
      - 8080:80
    environment:
        - PMA_ARBITRARY=1

      
      